body, html {
      padding: 0;
      margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


.wrapper{
      display:flex;
      justify-content:center;
}
.wrapper .btn1 {
      margin-top: 45% !important;
      font-size: 1.2em;
      font-weight: bold;
}
.modal-header {
      font-size: 1.2em;
      color:rgb(201, 18, 18);
      font-weight: bold;
}
.next, #logIn{
      background-color:rgb(201, 18, 18) !important;
      color:white !important;
      margin:0 !important;
}

.link{
      background-color: rgb(201, 18, 18);
      color:white;
      padding: 5px;
      border-radius:5px;
}

body{
      background-image: url(../img/4450.jpg);
      background-repeat: repeat;
}

